* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    width: 9rem;
}
body {
    font-family: 'Josefin Sans', sans-serif;
    
}
header {
    width: 100%;
    margin: auto;
    display:flex;
    align-items: center;
    height: 20vh;
    border: 1px solid black;


}
nav {
    flex:2;
    
}
.nav-links{
justify-content: space-around;
display: flex;
list-style-type: none;


}
.nav-link{
    font-size:x-large;
    text-align: center;
    justify-content: space-around;
    text-decoration: none;
    color: black;
    
}
.logo-div{
    flex:1;
    display: flex;
}
#slides {
    position: relative;
    height: 80vh;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    -webkit-transition: opacity 2s;
    -moz-transition: opacity 2s;
    -o-transition: opacity 2s;
    transition: opacity 4s;
}

.showing {
    opacity: 1;
    z-index: 2;
}
.slide {
    font-size: 3rem;
    padding: 40px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px black;
}

.slide:nth-of-type(1) {
    background-image:url(../images/slider1.jpg);
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-attachment: fixed;
}
.slide:nth-of-type(2) {
    background-image:url(../images/slider2.jpg);
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-attachment: fixed;
   
 
}
.slide:nth-of-type(3) {
    background-image:url(../images/slider3.jpg);
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-attachment: fixed;
}
.slide:nth-of-type(4) {
    background-image:url(../images/slider4.jpg);
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-attachment: fixed;
    
}
.slide:nth-of-type(5) {
    background-image:url(../images/slider5.jpg);
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-attachment: fixed;
}